#text{
    background-color: #88838b;
}
#im{
    float: left;
    /* width: 250px; */
    height: 50px;
     margin-left: 10px;margin-top: 10px;
}
#imglog{
    border-radius: 200px;
    height: 60px;
}
#img{
    float: left;
    /* width: 250px; */
    height: 70px;
     margin-left: 10px;margin-top: 10px; 
}
#tab:hover{
   
    transform: scale(1.1);
}

#account{
    margin-top: 20px;
    font-weight: bolder;
    font-size: 30px;
    color:rgb(0, 0, 0);
}


#d1{
    margin-bottom: 15px; 
}

#date{
    width:280px;
   
}
#dd{  margin-right: 30px;
    margin-bottom: 15px;
}
#l{
    text-decoration: none;
}
#ll{
    text-decoration: none;
    color:white;
}
#cardnone{
    border: none;
  
}
#p1{
    margin-right: 10px;
  color:white;
}
#ss{
    display: flex;
 
    align-items: center;
  
}
#card11{
    display:flex;
    flex-direction: column;
    margin: 0;padding: 0;
    align-items: flex-start;
    padding-right: 100px;
}
#card22{
    display:flex;
    flex-direction: column;
    margin: 0;padding: 0;
    align-items: center;
    justify-content: center;
}

#card{
    margin: 0;padding: 0;
 
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
 
}
#cardtab3{
    margin: 0;padding: 0;
 
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
    height: 70vh;

}
#card1{
    margin-bottom: 10px;
    border-radius: 20px;
    background-image:linear-gradient(to bottom, #461313, #992323 );
    background-image:linear-gradient(to right, #571b1b, #992323 );
    color:white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
  
   
}
#card1:hover{
    transform: scale(1.1);
    text-decoration: none;
}
#rrlogin{
    background-image:linear-gradient(to bottom, #461313, #992323 );
    background-image:linear-gradient(to right, #571b1b, #992323 );
     height: 100vh;   
}
#raccount{
    background-image:linear-gradient(to right, #b1b0b0, #c7c1c1 );
    height: 100vh; 
}
#rr{
    background-image:linear-gradient(to right, #b1b0b0, #c7c1c1 );
    /* background-image:linear-gradient(to bottom, #461313, #992323 );
    background-image:linear-gradient(to right, #571b1b, #992323 ); */
     height: 100vh; 
     border-radius: 30px;
}
#tt{
    display: flex;justify-content: center;
}
#t11{
    padding: 0;
    margin: 0;
}
#d3{
    padding: 0;
    margin-left: 15px; 
   margin-right: 0;

}

/* #t1{
    background-image:linear-gradient(to bottom, #912828, #992323 );
    background-image:linear-gradient(to right, #7a2d2d, #992323 );
    color:white; 
} */

#form{
    margin-top: 60px;
  ;
    background-image:linear-gradient(to right, #b1b0b0, #c7c1c1 );
   /* background-color: rgb(218, 216, 216); */
 color:rgb(0, 0, 0);
   /* height:100%; */
   display: flex;
   align-items: center;
   justify-content: center;
  
   flex-direction: column;
  
}
#formlogin{
    /* margin-top: 60px; */
    /* background-image:linear-gradient(to bottom, #461313, #992323 );
    background-image:linear-gradient(to right, #571b1b, #992323 ); */
   
 color:rgb(216, 206, 206);
   /* height:80vh; */
  height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
  
   flex-direction: column;

}
#loginame{
    /* margin-top: 30%; */
    margin-bottom: 40px;
}
#bbb{
   border-radius: 10px;
  color:rgb(170, 15, 15);
   font-weight: bold;
  margin-top: 15px;
   margin-bottom: 20px;
  
}
#blogin{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:rgb(170, 15, 15);
     font-weight: bold;
    margin-top: 15px;
     margin-bottom: 20px;
     width: 200px;

}
#out{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #992323;
    border-radius: 10px;
    color:white;
}
#login{
    margin-top: 10%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nav{
    background-image:linear-gradient(to bottom, #461313, #992323 );
    background-image:linear-gradient(to right, #571b1b, #992323 );

}
#abr{
    background-image:linear-gradient(to bottom, #461313, #992323 );
    background-image:linear-gradient(to right, #571b1b, #992323 );
    display: flex;
    z-index:1;
 

}
#ic{
  font-size: 25px;
  color:white;

   
}

#hh{
    display: flex;
   
    justify-content:flex-end;
    align-items: flex-end;
}
#s1{
    color: white;
    font-size: 15px;
}
#ic:hover{
    transform: scale(1.1);
   
}

#jj{
    background-image:linear-gradient(to bottom, #461313, #992323 );
    background-image:linear-gradient(to right, #571b1b, #992323 );
    width: 200px;
    height: 100%;
}

#cc{
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 100px;
}

#c2{
    margin:0px;
    padding: 0px;
     display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#c3{
    margin:0px;
    padding: 0px;
     display: flex;
    flex-direction: column;
    align-items:center;
    align-items: center;

}
#oooo{
    -webkit-text-security: disc;  
}
#ooo{
    -webkit-text-security: disc; 
}
#rowlogin{
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 100%;
    /* margin-top: 3%; */
    /* background-image:linear-gradient(to bottom, #131b46, #170f81 ); */
    background-image:linear-gradient(to right, #090f61, #291180 );
    display: flex;justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 10px;
}
#row1{
    
    /* background-image:linear-gradient(to right, #571b1b, #992323); */
      margin: 0px;
      padding: 0px;width: 80%;
     
      display: flex;justify-content: center;
  }
#homerow{
    margin-top: 20px;
}

#rowcard{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-item{
    display: flex;
}
@media (max-width: 575.98px) { 
    #tab{width: 200px; height: 70px;}
    #tab1{ height: 100px;}
    #rowlogin{
        width: 90%;}
        #width{
            width:262px;
        }
        #ooo{
            width:280px; 
        }
        #width1{
            /* width:128px;  */
          
            padding: 0;
        }
    #c2{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;   
    }
    #cc{
        display: flex;
        flex-direction: column;
        align-items: center;padding-right: 0px;
    }
    #dd{  margin-right: 0px;}
    #card{
        height: 100vh;
      }
    #card1{
        width: 220px;
        height:110px;
    }
    #card11{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #card22{

        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #card222{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #homerow{
        margin-top: 0px;
    }
}
   

@media (min-width: 576px) and (max-width: 767.98px) { 
    #rowlogin{
        width: 90%;}
        #width{
            width:280px;
        }
        #width1{
            width:280px;
            padding: 0;
        }
    #c2{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
    }
    #cc{
        display: flex;
        flex-direction: column;
        align-items: center;padding-right: 0px;
    }
    #dd{  margin-right: 0px;}
           
    #tab{width: 230px; height: 80px;}
    #tab1{ height: 100px;}
    #card{
        height: 100vh;
      }
    #card1{
        width: 240px;
        height:120px;
    }
    #card11{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #card22{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }

    #card222{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #homerow{
        margin-top: 0px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    #width{
        width:280px;
    } #width1{
        width:280px;
        padding: 0;
    }
    #c2{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;   
    }
    #cc{
        display: flex;
        flex-direction: column;
        align-items: center;padding-right: 0px;}
        #dd{  margin-right: 0px;}
    #tab{width: 230px; height: 80px;}
    #tab1{ height: 110px;}
    #card1{
        width: 240px;
        height:120px;
    }
    #card11{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #card22{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #card{
        height: 100vh;
      }
    #card222{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
    #homerow{
        margin-top: 0px;
    }     
 }
 @media (min-width: 992px) and (max-width: 1199.98px) {
    #width{
        width:280px;
    }
    #width1{
        width:280px;
        padding: 0;
    }
    #tab{width: 230px; height: 80px;}
    #tab1{ height: 130px;}
    #card{
        height: 100vh;
      }
    #card1{
        width: 280px;
        height:150px;
    }
    #card222{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
  
  }
  @media (min-width: 1200px) { 
    #width{
        width:280px;
    }
    #width1{
        width:280px;
        padding: 0;
    }
      #tab{width: 230px; height: 80px;}
      #tab1{ height: 130px;}
      #card{
        height:90vh;
      }
      #card1{
        width: 280px;
        height:150px;
     
    }



    #card222{
        display: flex;
        flex-direction: column;
        align-items: center;margin-right: 0px;
        padding-right: 0px;
    }
  }
  